<% spending.each do |week| %>
    <tr>
      <% week.each do |day, total| %>
          <td class="<%= 'out' unless day.month == today.month %>" <% if total > 0 %>data-total="<%= number_to_currency total %>"<% end %>>
            <%= day == today ? "<strong>#{day.day}</strong>".html_safe : day.day %>
            <div class="spending-progress" style="height: <%= calendar_percent total %>%"></div>
          </td>
      <% end %>
    </tr>
<% end %>
