<% content_for :title do %>Editando Parcelamento<% end %>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
  <%= render 'form', recurring_credit: @recurring_credit %>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col">
  <h6>Valores das Parcelas</h6>
  <p>Caso o valor total do parcelamento não seja divisível pelo número de parcelas, o valor excedente ficará na primeira parcela por padrão. Você
  pode editar os valores das parcelas individualmente, desde que o total seja igual ao valor do parcelamento.</p>
  <% if @recurring_credit.account.is_a? CreditCard %>
      <h6>Datas das Parcelas</h6>
      <p>Como este parcelamento foi feito em um <%= link_to 'cartão de crédito', @recurring_credit.account.becomes(Account) %>,
        as parcelas depois da primeira ficam lançadas para o dia do fechamento da fatura (dia <%= "%02d" % @recurring_credit.account.closing %>).</p>
  <% end %>
</div>
