body.dashboard-show {
  .mdl-cell:not(.auto) {
    height: 320px;
    max-height: 320px;
  }

  .graph {
    height: 250px;
  }

  div.spending {
    display: flex;
    flex-direction: column;

    & > div {
      flex: 1;
      overflow: auto;
    }
    ul {
      padding: 0;
      margin: 0;
      .mdl-list__item--two-line {
        height: 48px
      }
    }
  }

  div.tags {
  	  display: flex;
  	  flex-direction: column;
  }

  .tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .tag {
      display: flex;
      flex-direction: column;
      width: 25%;
      min-width: 125px;
      padding: 5px;
      align-items: center;
      box-sizing: border-box;

      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.54);
        width: 32px;
        height: 32px;
        border-radius: 50%;

        i.material-icons {
          color: $light-text-color;
        }
      }
    }
  }
}
