body.dashboard-show {
  .mdl-cell:not(.auto) {
    height: 320px;
    max-height: 320px;
  }

  .graph {
    height: 250px;
  }

  div.spending {
    display: flex;
    flex-direction: column;

    & > div {
      flex: 1;
      overflow: auto;
    }
    ul {
      padding: 0;
      margin: 0;
      .mdl-list__item--two-line {
        height: 48px
      }
    }
  }
}
