h2.date {
  font-size: 200%;
  margin: 10px 0;
}

div.statements {
  padding-left: 15px;
}

.icon {
  width: 48px;
  height: 48px;
  background-color: #ccc;
}

.statement {
  display: flex;
  padding: 10px;
}

.statement > div.content {
  margin-left: 10px;
}

strong {
  font-weight: bold;
}

.statement h3 {
  margin-bottom: 5px;
  font-size: 125%;
}

.statement {
  &.credit {
    h3 > span, span.transfer {
      color: #B00;
    }
  }

  &.debit {
    h3 > span, span.transfer {
      color: #090;
    }
  }
}

.amount {
  font-size: 90%;
  margin-bottom: 5px;
}

// Modal

.link-list {
  display: flex;
  flex-direction: column;
  padding: 25px;

  a {
    display: flex;
    flex-direction: row;
    padding: 8px;
    align-items: center;
    text-decoration: none;
    background: transparent;
    transition: background 0.12s ease-in-out;

    &:hover {
      background: $menu-link-background-color;
    }

    img {
      display: block;
      width: 32px;
      height: 32px;
    }
    span {
      margin-left: 8px;
    }
  }
}
