body.statements-index {
  table.mdl-data-table {
    width: 100%;

    tr {
      height: auto;
    }

    th, td {
      width: 1em;
      white-space: nowrap;
      padding: 0 12px;
      height: 36px;

      &.wide {
        width: 100%;
      }
    }
  }

  #results {
    font-size: 85%;
    margin-bottom: 12px;
  }

  form.table-filters {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > div {
      margin-right: 16px;
      width: calc(100% - 16px);
    }

    button[type="submit"] {
      margin-left: auto;
      flex-shrink: 0;
    }
  }

  span.transfer, span.credit, span.debit {
    border-radius: 2px;
    padding: 2px;
  }

  span.transfer {
    background-color: rgba(0, 0, 255, 0.12);
  }

  span.credit {
    background-color: rgba(255, 0, 0, 0.12);
  }

  span.debit {
    background-color: rgba(0, 255, 0, 0.12);
  }
}
