<% content_for :fab do %>
    <a href="javascript:openModal()" id="fab" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect"><%= material_icon.add %></a>
<% end %>
<% content_for :body do %>
    <dialog class="mdl-dialog">
      <h4 class="mdl-dialog__title">Adicionar Transação</h4>
      <div class="mdl-dialog__content"><p>Escolha um tipo de transação.</p></div>
      <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
        <%= link_to new_debit_path, class: 'mdl-button' do %>Receita
        <% end %>
        <%= link_to new_credit_path, class: 'mdl-button' do %>Despesa
        <% end %>
        <%= link_to new_transfer_path, class: 'mdl-button' do %>Transferência
        <% end %>
        <button type="button" class="mdl-button close" onclick="closeModal()">Fechar</button>
      </div>
    </dialog>
    <script>
        var dialog = document.querySelector('dialog');
        dialogPolyfill.registerDialog(dialog);
        function openModal() {
            dialog.showModal();
        }
        function closeModal() {
            dialog.close();
        }
    </script>
<% end %>
