<% content_for :toolbar_left do %><%= link_to material_icon.chevron_left, @billing_account, class: 'mdl-button mdl-js-button mdl-button--icon' %><% end %>
<% content_for :title do %>Nova Despesa<% end %>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <%= render 'form', bill: @bill %>
</div>
