body.accounts-index {
  .mdl-cell > h6 {
    margin: 0;
  }
  .account {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      align-items: center;

      img {
        max-width: 32px;
        max-height: 32px;
        margin-right: 8px;
      }

      h6 {
        margin: 0;
        & > a {
          text-decoration: inherit;
          color: inherit;
        }
      }
      button {
        margin-left: auto;
      }
    }

    .graph {
      height: 200px;
    }

    .details {
      display: flex;
      justify-content: space-between;

      .negative {
        color: #B00;
      }
    }
  }
}
