<%= content_for :title do %>Editando Grupo de Despesas<% end %>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
  <%= render 'form', billing_account: @billing_account %>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col">
  <h6>Habilitar ou Não?</h6>
  <p>Se um grupo de despesas não estiver habilitado, você não poderá lançar o pagamento das despesas dele, e elas não gerarão notificações.</p>
</div>
