/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's 
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "theme";
@import "../node_modules/bootstrap/scss/bootstrap";

// login
#login-container {
  min-height: 100vh;
  background-color: $brand-primary;
  padding-top: 30px;
}

#login-container > .inner {
  max-width: 350px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 3px;
  background-color: #fff;

  & > button {
    width: 100%;
  }
}

// custom menu toggler
@media(max-width: 1023px) {
  button#navigation-toggler {
    position: fixed;
    z-index: 10;
    top: 8px;
    left: 8px;
  }

  nav#navigation {
    position: fixed;
    z-index: 8;
    left: -350px;
    transition: 0.25s left ease-in-out;

    &.open {
      left: 0;
    }
  }
}

@media(min-width: 1024px) {
  button#navigation-toggler {
    display: none;
  }
}

div#navigation-container {
  display: flex;
  min-width: 100%;
}

nav#navigation {
  background-color: $brand-primary;
  width: 250px;
}
