div#content {
  @media(min-width: 1280px) {
    max-width: 1170px;
    margin: 15px auto;
    padding: 15px;
  }
  @media(max-width: 1279px) {
    max-width: 960px;
    margin: 15px auto;
    padding: 10px;
  }
  @media(max-width: 1023px) {
    margin: 0;
    box-shadow: none;
  }
  flex: 1;
  overflow: auto;
  background-color: $container-background-color;
  padding: 5px;
  border: 1px solid $container-border-color;
  box-shadow: 0.5px 1.5px 3px 1px $box-shadow-color;
  width: 100%;
}
