a#fab {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: $secondary-background-color;
  color: $dark-text-color;
  box-shadow: 0 1px 2px 0 $box-shadow-color;
  position: fixed;
  bottom: 16px;
  right: 16px;
}

