// Container

div#header-container {
  background-color: $primary-background-color;
  color: $light-text-color;
  display: flex;
  @media(min-width: 1024px) {
    justify-content: center;
  }
  align-items: center;
}

// Header

header#header {
  @media(min-width: 1280px) {
    max-width: 1170px;
  }
  @media(max-width: 1279px) {
    max-width: 960px;
  }
  display: flex;
  flex-direction: row;
  min-height: 48px;
  height: 48px;
  max-height: 48px;
  padding: 4px 0;
  align-items: center;
  width: 100%;
}

span.bar {
  width: 24px;
  height: 2px;
  background-color: $light-text-color;
  margin: 2px 0;
}

// Side menu

input#toggle-menu {
  display: none;
}

label[for="toggle-menu"] {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @media(min-width: 1024px) {
    position: absolute;
    top: 4px;
    left: 0;
  }
}

nav#menu {
  position: absolute;
  width: 250px;
  left: -300px;
  top: 48px;
  height: calc(100% - 48px);
  transition: left 0.12s ease-in-out;
  background-color: #fff;
  box-shadow: 2px 1px 3px $box-shadow-color;
  display: flex;
  flex-direction: column;
}

#toggle-menu:checked + nav#menu {
  left: 0;
}

nav#menu > a {
  margin: 4px;
  width: calc(100% - 8px);
  text-transform: uppercase;
  font-weight: bold;
  color: $dark-text-color;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  background: transparent;
  transition: background 0.12s ease-in-out;
}

nav#menu > a:hover {
  background-color: $menu-link-background-color;
}
