body.bills-show {
  .name {
    h6 {
      display: flex;
      margin: 0;
      margin-bottom: 5px;
      span:last-child {
        margin-left: auto;
      }
    }
    border-bottom: 1px solid $dark-text-color;
  }
  .body {
    display: flex;
    flex-direction: row;
    .left {
      flex: 1;
      padding: 5px;
    }
    .right {
      max-width: 33%;
      width: 250px;
      border-left: 1px solid $dark-text-color;

      & > div {
        padding: 5px;
        border-bottom: 1px solid $dark-text-color;
        display: flex;
        flex-direction: column;

        span:first-child {
          font-size: 85%;
        }

        span:last-child {
          margin: 0 auto;
          margin-top: 10px;
        }
      }
    }
  }

  .attachment > img {
    max-width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
  }
}
