body.bills-show {
  .info {
    display: flex;
    flex-direction: column;

    .name {
      h6 {
        margin: 0;
      }
    }
  }

  .attachment > img {
    max-width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2px;
  }
}
