<% content_for :title do %>Editar Despesa<% end %>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col">
  <%= render 'form', credit: @credit %>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--4-col">
  <h6>Transformar em Transferência</h6>
  <%= form_tag to_transfer_credit_path(@credit), method: :post do %>
      <div style="display: flex; align-items: center">
        <div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label" style="flex: 1">
          <%= select_tag :account_id,
                         options_from_collection_for_select(current_user.accounts.where('type <> ? OR type IS NULL AND id <> ?', 'BillingAccount', @credit.account.id), :id, :name),
                         class: 'mdl-selectfield__select' %>
          <%= label_tag :account_id, 'Conta de Destino', class: 'mdl-selectfield__label' %>
        </div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary" style="margin-left: 8px">Transferir</button>
      </div>
  <% end %>
</div>
