$primary-background-color: rgb(73, 98, 122);
$secondary-background-color: rgb(237, 237, 206);
$body-background-color: rgb(245, 245, 245);
$container-background-color: rgb(255, 255, 255);
$menu-link-background-color: rgba(0, 0, 0, 0.12);

$light-text-color: rgba(255, 255, 255, 0.87);
$dark-text-color: rgba(0, 0, 0, 0.87);

$box-shadow-color: rgba(0, 0, 0, 0.54);

$container-border-color: rgb(204, 204, 204);


$body-font-family: Roboto, Helvetica, sans-serif;
