$primary-background-color: rgb(73, 98, 122);
$secondary-background-color: rgb(249, 220, 92);
$warning-background-color: rgb(232, 72, 85);
$body-background-color: rgb(245, 245, 245);
$container-background-color: rgb(255, 255, 255);
$menu-link-background-color: rgba(0, 0, 0, 0.12);

$light-text-color: rgba(255, 255, 255, 0.87);
$dark-text-color: rgba(0, 0, 0, 0.87);

$box-shadow-color: rgba(0, 0, 0, 0.54);

$container-border-color: rgb(204, 204, 204);

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$body-font-family: 'Open Sans', Helvetica, sans-serif;
