<% content_for :title do %>Contas
<% end %>
<div class="mdl-cell mdl-cell--12-col no-padding">
  <h6>Contas</h6>
</div>
<% @accounts.each do |account| %>
    <%= render 'account', account: account %>
<% end %>
<div class="mdl-cell mdl-cell--12-col no-padding">
  <h6>Cartões</h6>
</div>
<% @credit_cards.each do |account| %>
    <%= render 'account', account: account %>
<% end %>
<% content_for :fab do %><%= link_to material_icon.add, new_account_path, title: 'Nova', id: 'fab', class: 'mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-js-ripple-effect' %>
<% end %>
