<% content_for :title do %>Contas
<% end %>
<% {'Contas em Banco' => @accounts, 'Contas para Pagamento' => @billing_accounts, 'Cartões de Crédito' => @credit_cards}.each do |label, accounts| %>
    <h2><%= label %></h2>
    <div class="account-list-wrapper">
      <div class="account-list">
        <% accounts.each do |account| %>
            <%= link_to account_path(account) do %>
                <div class="icon"></div>
                <span><%= account.name %></span>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>
<% content_for :fab do %><%= link_to material_icon.add, new_account_path, title: 'Nova', id: 'fab' %><% end %>
